.body-mss-text, .body-vss-text{
    margin: 10px;
    border: 5px solid #38454e;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffffb5;
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 10px;
}
.body-mss-text h3, .body-vss-text h3 {
    font-size: 24px;
    font-family: 'DarumaDrop One';
}
.grid-container{
    margin: 10px;
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 10px;
}
p {
    color: #4f6270;
}
.body-products {
    margin: 10px;
    padding: 10px;
}
.body-products h3 {
    font-size: 24px;
    text-align: center;
    font-family: 'DarumaDrop One';
}
.body-products p {
    color: #4f6270;
    text-align: justify;
}
