/* Mobile Ver*/
.home-main {
    z-index: 1000;
}
body {
    background-color: #f7f8f8;
}
.header {
    height: 60px;
    display: grid;
    grid-template-columns: 15% 15% 55% 15%; 
    border-bottom: 5px solid #4F6270;
    padding: 5px;
    background-color: #e5d9c2;
}
.header-logo {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../photos/pnpajamas.svg);
}
.header-logo-name {
    padding: 5px;
}
/* nav bar drop down */
.header-nav-bar-mobile {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    width: 100%;
    height: 100vh;
    background-color: #f7f8f8;
    z-index: 1;
}
.header-nav-bar-mobile ul li {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-bottom: 2px solid black;
}
.header-nav-bar-mobile ul li a {
    font-family: 'Poppins';
}
.nav-bar-btn {
    width: 50px;
    height: 50px;
    background-image: url("../photos/bars-solid.svg"), url("../photos/close-solid.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center left 50px;
}
.search-btn {
    margin: 10px;
    width: calc(100%-30px);
    height: 23px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}
.search-btn form {
    display: flex;
    margin: 3px;
}
.search-btn input {
    padding: 2px;
    font-size: 10px;
    background-color: white;
    width: 80%;
    position: relative;
}
.search-btn button {
    margin: 2px;
    width: 10px;
    height: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../photos/magnifying-glass-solid.svg);
}
.btn-container {
    height: 40px;
    display: flex;
    justify-content: flex-end;
}
.body-logo-background {
    height: 30vh;
    margin: 10px;
}
.body-center-container {
    margin-top: 10px;
}
.body-center-text {
    padding: 10px;
}
.body-center-text h3 {
    text-align: center;
    font-family: 'Darumadrop One';
    color: #4F6270;
    font-size: 24px;
    margin: 10px;
}
.body-center-text {
    margin: 10px;
    border: 5px solid #38454e;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffffb5;
    height: 100%;
}
.body-center-text p {
    font-size: 10px;
    margin: 10px;
}
.body-center-text a {
    margin: 5px;
    padding: 5px;
    background-color: #4F6270;
    color: white;
    font-family: 'Darumadrop One';
}
.footer {
    background-color: #aab7bb;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    position: absolute;
    top: calc(100% - 55px);
    width: 100%;
    text-align: left;
}
.footer img {
    width: 25px;
    height: 25px;
    padding: 3px;
}
.footer a {
    padding: 5px;
}
.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4 {
    display: flex;
    justify-content: start;
}

@font-face {
    font-family: 'Darumadrop One';
    src: url('../fonts/DarumadropOne-Regular.woff2') format('woff2'),
        url('../fonts/DarumadropOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
   

