/* Mobile Ver*/
.home-main {
    z-index: 1000;
}
body {
    background-color: #f7f8f8;
}
.header {
    height: 60px;
    display: grid;
    grid-template-columns: 15% 55% 15% 15%; 
    border-bottom: 5px solid #4F6270;
    padding: 5px;
    background-color: #e5d9c2;
}
.header-logo {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../photos/pnpajamas.svg);
}
.header-cart {
    margin: 10px;
    background-image: url(../photos/cart-shopping-solid.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.header-cart-popup-mobile {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    top:0;
    background-color:#e5d9c2;
}
.cart-btn-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-end;
}
.cart-close-btn {
    margin: 10px;
    background-image: url(../photos/close-solid.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}
/* nav bar drop down */
.header-nav-bar-mobile {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    width: 100%;
    height: 100vh;
    background-color: #f7f8f8;
    z-index: 1;
}
/* nav bar desktop */
.header-nav-bar-desktop{
    display: none;
}

.header-nav-bar-mobile ul li {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-bottom: 2px solid black;
}
.header-nav-bar-mobile ul li a {
    font-family: 'Poppins';
}
.btn-container {
    margin: 10px;
    width: 30px;
    height: 30px;
    background-image: url("../photos/bars-solid.svg"), url("../photos/close-solid.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center left 50px;
}
.search-btn {
    margin: 10px;
    width: calc(100%-30px);
    height: 23px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}
.search-btn form {
    display: flex;
    margin: 3px;
}
.search-btn input {
    padding: 2px;
    font-size: 10px;
    background-color: white;
    width: 80%;
    position: relative;
}
.search-btn button {
    margin: 2px;
    width: 10px;
    height: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../photos/magnifying-glass-solid.svg);
}

@font-face {
    font-family: 'Darumadrop One';
    src: url('../fonts/DarumadropOne-Regular.woff2') format('woff2'),
        url('../fonts/DarumadropOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@media (min-width:925px) {
    .btn-container{
        display:none;
    }
    .header-nav-bar-mob{
        display: none;
    }
    .header {
        grid-template-columns: 20% 35% 20% 25%;
    }
    .header-nav-bar-desktop{
        display: block;
    }
    .hyperlink-list {
        display: flex;
        padding: 15px;
    }
    .linked-list{
        padding-left: 30px;
    }
    .header-logo {
        margin-left: 20px;
    }
}